<% title 'List Shops' %>
<%= link_to_new('shop', new_shop_path) %>

<table>
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox"></th>
      <th>Name</th>
      <th>Link</th>
      <th>Users</th>
      <th>Products</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @shops unless @shops.nil? %>
  </tbody>
</table>

