<% title('List all shops') %>
<%= link_to('Add shop', new_shop_path) %>

<% form_tag({ :action => :multiple }, :class => 'index') do %>
  <%= submit_tag_delete %>
  <table>
    <thead>
      <tr>
        <%= th_check_box %>
        <th>Name</th>
        <th>Link</th>
        <th>Users</th>
        <th>Products</th>
        <th>Username</th>
        <th>Password</th>
        <th>Currency</th>
        <th>Status</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <%= render @shops %>
    </tbody>
  </table>
<% end %>
