/* positions and dimensions */
a.button {
  margin-right: 8px;
}

body {
  margin: 0;
}

form.index {
  margin-top: 12px;
}

h1 {
  margin: 0 0 8px 0;
}

input.checkbox {
  margin: 3px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding-left: 4px;
}

th.checkbox, td.checkbox {
  padding: 0;
  width: 0;
}

.content {
  margin: auto;
  width: 750px;
}

#header {
  padding: 20px 0;
}

#header h1 {
  margin-bottom: 0;
}

#header .logout {
  float: right;
}

#nav {
  padding-top: 4px;
}

#nav ul, #subnav ul {
  margin: 0;
  padding-left: 0;
}

#nav ul li, #subnav ul li {
  display: inline-block;
}

#nav ul li a {
  padding: 4px 16px 8px 16px;
}

#subnav ul li a {
  padding: 12px 16px;
}

#nav ul li a, #subnav ul li a {
  display: block;
}

#fortune {
  padding: 4px 0;
}

#content {
  padding: 16px;
  width: 718px;
}

#notice, #error {
  margin-bottom: 16px;
  padding: 4px 8px;
}

#footer {
  margin: 16px 0;
}



/* texts */
body {
  font: 10pt arial;
}

h1 {
  font-size: 18pt;
}

th {
  text-align: left;
}

td.name {
  font-weight: bold;
}

a.separator {
  font-weight: bold;
}

#header .logout {
  text-align: right;
}

#nav ul, #subnav ul {
  list-style: none;
}

#nav ul li a {
  font-size: 13pt;
  font-weight: bold;
}

#nav ul li a, #subnav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

#subnav ul li a {
  font-size: 9pt;
}

#fortune {
  font-size: 8pt;
}

#notice, #error {
  font-weight: bold;
}

.handle {
  color: #999;
  font-size: 8pt;
}

#footer {
  font-size: 9pt;
}




/* colours */
a {
  color: #e82;
}

a:hover {
  color: #333;
}

body {
  color: #666;
  background-color: #eee;
}


table, th, td {
  border: 1px solid #fff;
}

th {
  color: #fff;
  background-color: #ccc;
}

tr.odd {
  background-color: #fff;
}

tr.even {
  background-color: #eee;
}

form.index {
  border: 1px solid #ccc;
}

#header {
  color: #fff;
  background-color: #333;
}

#header .logout a {
  color: #fff;
}

#nav {
  background-color: #e82;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#nav ul li a {
  color: #fff;
}

#nav ul li a.active {
  color: #666;
  background-color: #fff;
}

#subnav {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#subnav ul li a {
  color: #e82;
}

#subnav ul li a.active {
  color: #666;
}

#nav ul li a:hover, #subnav ul li a:hover {
  color: #666;
}

#fortune {
  color: #aaa;
  border-top: 1px solid #ddd;
}

#notice {
  background-color: #8c6;
  border: 2px solid #5b3;
}

#notice a, #error a {
  color: #fff;
}

#error {
  background-color: #c54;
  border: 2px solid #b21;
}

#notice, #error {
  color: #fff;
}

#content {
  background-color: #fff;
  border-top: 5px solid #e82;
  border-bottom: 1px solid #e82;
}

.handle {
  cursor: move;
}

#footer {
  color: #999;
}
