/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset {
  border-top: 2px solid #ccc;
  margin-top: 16px;
  padding-top: 16px;
}



/* sorting lists */
form.formtastic fieldset ol li ol {
  margin-left: 25%;
}

form.formtastic fieldset ol li ol li {
  margin: 0;
  padding: 0 0 4px 0;
}

form.formtastic fieldset ol li ol#category_tree li {
  padding: 2px 0 12px 0;
}

form.formtastic fieldset ol li ol li.empty {
  background-color: rgba(0,0,0,0.025);
  padding: 8px 0;
}

form.formtastic fieldset ol li ol li ul {
  margin-left: 2em;
}

form.formtastic fieldset ol li ol li ul li {
  background-color: rgba(0,0,0,0.05);
}



/* cart */
form.accept {
  margin-top: 16px;
  text-align: right;
}
