/* positions and dimensions */
body {
  margin: 0;
}

h1 {
  margin: 0 0 8px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding-left: 4px;
}

.content {
  margin: auto;
  width: 750px;
}

#header {
  padding: 20px 0;
}

#header h1 {
  margin-bottom: 0;
}

#header img {
  padding: 4px;
}

#header .logout {
  float: right;
}

#nav {
  padding-top: 4px;
}

#nav ul {
  margin: 0;
  padding-left: 0;
}

#nav .content > ul > li {
  display: inline-block;
}

#nav .content > ul > li > a {
  display: block;
  padding: 4px 16px 8px 16px;
}

#nav .content > ul ul a {
  display: block;
  padding: 4px 24px 4px 8px;
}

#nav .content > ul > li ul, #nav .content > ul > li > ul > li > ul {
  display: none;
  position: absolute;
  margin-top: 3px;
}

#nav:hover .content > ul > li > ul {
  display: block;
}

#nav .content > ul > li > ul li:hover > ul {
  display: block;
  margin-top: -23px;
  margin-left: 100%;
}

#fortune {
  padding: 12px 0;
}

#content, body > #cart {
  padding: 16px;
  width: 718px;
}

body > #cart {
  margin-top: 16px;
}

body > #cart span {
  display: block;
  margin-bottom: 8px;
}

body > #cart > a {
  display: block;
  margin-top: 8px;
}

.product {
  display: inline-block;
  margin: 1%;
  padding: 8px 0;
  width: 30%;
}

.product .image {
  height: 200px;
  margin-bottom: 8px;
}

.product img { /* stand-in for image */
  margin: 0 auto;
}

#images {
  float: left;
  padding: 4px;
}

#images div {
  margin-bottom: 4px;
}

#images img {
  display: block;
}

#product {
  margin-left: 228px; /* 200px (img) + 16px (margin) + 8px (images padding) */
  min-height: 240px;
}

#error {
  margin-bottom: 16px;
  padding: 4px 8px;
}

#footer {
  margin: 16px 0;
}




/* texts */
body {
  font: 10pt arial;
}

h1 {
  font-size: 18pt;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}

td.name {
  font-weight: bold;
}

tr.total {
  font-weight: bold;
}

#header .logout {
  text-align: right;
}

#nav ul {
  list-style: none;
}

#nav ul a {
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

#nav ul ul a {
  font-size: 9pt;
}

.product_group {
  text-align: center;
}

.product {
  font-size: 11pt;
  font-weight: bold;
  text-decoration: none;
}

#images {
  letter-spacing: 1px;
  text-align: center;
}

.price {
  font-weight: bold !important;
  font-size: 12pt;
}

#error {
  font-weight: bold;
}

body > #cart span {
  font-weight: bold;
  font-size: 12pt;
}

body > #cart > a {
  text-align: right;
}

#footer {
  font-size: 9pt;
}




/* colours */
a:hover {
  color: #333;
}

body {
  color: #666;
  background-color: #eee;
}

table, th, td {
  border: 1px solid #fff;
}

th {
  color: #fff;
  background-color: #999;
}

tr.odd {
  background-color: #fff;
}

tr.even {
  background-color: #f4f4f4;
}

tr.total {
  color: #fff;
}

#header {
  color: #fff;
  background-color: #333;
}

#header img {
  background-color: #fff;
  border: 1px solid #ccc;
}

#header .logout a {
  color: #fff;
}

#nav {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#nav ul li a {
  color: #fff;
}

#nav ul li a.active {
  color: #666;
  background-color: #fff;
}

#nav ul li a:hover {
  color: #666;
}

#nav ul ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-width: 0;
}

#nav ul ul ul {
  border-top-width: 1px;
}

#fortune {
  border-top: 1px solid #ddd;
}

#content, body > #cart {
  background-color: #fff;
}

.product {
  border: 1px solid #ddd;
  -moz-box-shadow: 2px 2px 4px #888;
  -moz-border-radius: 8px;
}

.product img {
  border-width: 0;
}

#error {
  background-color: #c54;
  border: 2px solid #b21;
  color: #fff;
}

#images {
  border: 1px solid #ccc;
}

#footer {
  color: #999;
}



/* ie7 fixes (thank god for css2 and compatible, above) */
#nav .content > ul > li {
  *display: inline;
}
