<h1>List Users</h1>
<%= link_to_new('user', new_user_path) %>

<table>
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox"></th>
      <th>Name</th>
      <th>Shop</th>
      <th>Username</th>
      <th>Password</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users unless @users.nil? %>
  </tbody>
</table>

