<h1>Varekurv for <%= @current_user.name %></h1>
<%= render 'cart' %>
<% form_tag(accept_shop_user_orders_path(@shop, @current_user), { :class => 'accept' }) do %>
  <%= submit_tag('Accepter bestilling') %>
<% end %>
