<% title "Categories" %>
<%= link_to_new('category', new_category_path) %>

<table>
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox"></th>
      <th>Name</th>
      <th>Parent</th>
      <th>Shop</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories unless @categories.nil? %>
  </tbody>
</table>

