<% @products.in_groups_of(3).each do |product_group| %>
  <div class="product_group">
    <% product_group.compact.each do |product| %>
      <% link_to(shop_product_path(@shop, product), :class => 'product') do %>
        <%= image_tag(product.template.images.first.data.url(:small)) if product.template.images.first %>
        <%= product.template.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
