<% @categorizations.in_groups_of(3).each do |categorization_group| %>
  <div class="product_group">
    <% categorization_group.compact.each do |categorization| %>
      <% link_to(shop_categorization_path(@shop, categorization), :class => 'product') do %>
        <%= image_tag(categorization.product.images.first.data.url(:small)) if categorization.product.images.first %>
        <%= categorization.product.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
