<h1><%= @category.name %></h1>
<table class="category" cellspacing="16px">
  <% @products.in_groups_of(3).each do |product_group| %>
    <tr>
      <% product_group.compact.each do |product| %>
        <td>
          <% link_to(shop_product_path(@shop, product)) do %>
            <%= image_tag(product.thumbnail) if product.thumbnail %>
            <span class="name"><%= product.name %></span>
            <span class="price"><%= format_currency(product.price) %></span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
