<% title 'List Products' %>
<%= link_to_new('product', new_product_path) %>

<table>
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox"></th>
      <th>Name</th>
      <th>Number</th>
      <th>Brand</th>
      <th>Shops</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products unless @products.nil? %>
  </tbody>
</table>
