<% title 'List Products' %>
<%= link_to_new('product', new_product_path) %>

<select>
  <option>Apply action...</option>
  <option disabled="disabled" />
  <option>Edit</option>
  <option>Copy</option>
  <option>Delete</option>
</select>

<select>
  <option>Add to shop...</option>
  <option disabled="disabled" />
  <%- @shops.each do |shop| -%>
    <option><%= shop.name %></option>
  <%- end -%>
</select>

<table>
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox"></th>
      <th>Name</th>
      <th>Number</th>
      <th>Brand</th>
      <th>Shops</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products unless @products.nil? %>
  </tbody>
</table>
