<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>BAZE Shop System</title>
    <%= stylesheet_link_tag('application', 'formtastic', 'formtastic-changes', :cache => 'base') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
