<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>BAZE Shop System</title>
    <%= stylesheet_link_tag('application', 'formtastic', 'formtastic-changes', :cache => 'base') %>
  </head>
  <body>

    <div id="header">
    </div>

    <div id="nav">
      <ul>
        <li><%= link_to('Shops', shops_path) %></li>
      </ul>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      Copyright &copy; 2010 Baze A/S
    </div>

  </body>
</html>
